# dependencies
node_modules/

# expo
.expo/
.expo-shared/
.expo/web-build/
dist/
web-build/

# native builds (si se generan)
android/
ios/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log

# editor
.vscode/
.idea/

# sistema
.DS_Store
Thumbs.db

# env
.env
*.env
